.object-cover {
  object-fit: cover;
}


//productDetail 下方的類似商品區塊
.sameType {
  z-index: 0;
}

.sameType>button {
  width: 10px !important;
  /* 小圆点的宽度 */
  height: 10px !important;
  /* 小圆点的高度 */
  border-radius: 50% !important
    /* 设为圆形 */
}

.sameType>.carousel-control-prev-icon {
  position: absolute;
  bottom: 100px;
}

//首頁的carousel
.carousel-item img {
  height: 450px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  position: absolute;
}

.product-carousel>.carousel-control-prev>.carousel-control-prev-icon {
  position: absolute;
  left: -50px;
}

.product-carousel>.carousel-control-next>.carousel-control-next-icon {
  position: absolute;
  right: -50px;

}

.bi-caret-up,
.bi-caret-down {
  position: absolute;
}

.bi-caret-up {
  top: 180px;
}

.bi-caret-down {
  top: 190px;
}



ul>li.option {
  display: table-cell;
  padding: 8px 25px 8px 0;
}

.mybtn:hover {
  background-color: orange;
}

.next-article:hover {
  text-decoration: underline;
}

.tag {
  cursor: not-allowed
}

.font-size:hover {
  color: orange;
  cursor: pointer;
}

.small-table td,
.small-table th {
  padding: 0px;
  /* 減小內邊距 */
  color: white;
}

.table-progress {
  background-color: orange;
  color: orange;
}

.outline {
  outline: orange 3px solid;
}

.triangle {
  width: 0;
  height: 0;
  border: transparent 15px solid;
  border-bottom-color: orange;
  z-index: 100;
}

li>.nav-link {
  margin-right: 3rem;
  color: white !important;
}

li>.nav-link:hover {
  color: black !important;
}

li>.active {
  color: black !important;
}

.homepage {
  display: none;
}

.order-query-img {
  width: 500px;
}

.oreder-query-input {
  width: 25%;
}

.order-query-button {
  margin-left: 30px;
}

@media(max-width:950px) {//RWD

  li>.nav-link {
    border-bottom: solid;
    margin-right: 0px;
    color: black !important;
  }

  .logo {
    display: none;
  }

  .homepage {
    display: block;
  }

  .hero-image {
    display: none;
  }

  .carousel {
    display: none;
  }

  .home-article-description {
    display: none;
  }

  .product-description,
  .article-title,
  .article-description {
    
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .product-title {
    order: 2;
  }

  .product-img {
    order: 1;
  }

  .add-to-cart {
    order: 3;
    margin-bottom: 30px;
  }

  .latest-articles {
    display: none;
  }

  .order-query-img {
    width: 300px;
  }

  .order-query-button {
    margin-top: 20px;
  }

  .oreder-query-input {
    width: 100%;
  }

  .nexttime-right {
    margin-top: 30px;
  }

  .nexttime-button {
    width: 100px;
  }

  .nexttime-change {
    width: 300px;
  }

}

.navbar-custom-scroll::-webkit-scrollbar {
  display: none;
}

.navbar-custom-scroll {
  -ms-overflow-style: none;
}

@include media-breakpoint-down(md) {
  .custom-header-md-open {
    position: absolute;
    top: 100%;
    right: 0px;
    left: 0px;
  }
}

.collapse {
  transition: none !important;
}